{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}
Membres
{% endblock %}
{% block content %}


<div class="bg-slate-200 flex h-screen">
    {% include 'includes/admin/culte.html' %}
    <div class="flex h-full w-full flex-col">
         {% include 'includes/admin/nav.html' %}
        <!-- Main -->
        <div class="h-full overflow-auto ">
            <p class="text-xl font-extrabold  mt-8 text-gray-900 dark:text-white ml-4  mb-4"><span
                    class="text-gray-500 font-thin dark:text-gray-400">Cultes</span> | {{nombre}}</p>


           <div class="bg-gray-100  m-4  py-8 px-4 sm:px-6 lg:px-8">
                <div class=mx-auto">
                    <form id="search-form" class="grid grid-cols-1 md:grid-cols-1 gap-1" method="GET">
                        {% for field in myFilter.form %}
                        {% if field.name == 'date' %}
                        <div class="col-span-1 sm:col-span-1">
                            <label class="block text-sm font-medium text-gray-700">{{ field.label }}</label>

                            <div
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-cyan-400 focus:ring-indigo-500 sm:text-sm">
                                {{field|add_class:"mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-cyan-400 focus:ring-indigo-500 sm:text-sm" }}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="col-span-1 sm:col-span-4">
                            <div class="flex items-center">

                                <button type="submit" id="search-button"
                                    class="select inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                    Rechercher
                                </button>
                            </div>
                        </div>
                    </form>

                </div>


            </div>


  <div class="relative overflow-x-auto shadow-md m-4 sm:rounded-lg">
                <table id="article-table"
                    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>

                            <th scope="col" class="px-6 py-3">
                                Date
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Off. Reguliere
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Off. Construction
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for culte in objets_page %}
                        <tr
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                             <td class="px-6 py-4">
                                {{ culte.date}}
                            </td>
                            <td class="px-6 py-4">
                               {{ culte.nombre_offrandes}} $
                            </td>
                            <td class="px-6 py-4">
                                {{culte.nombre_construction}} $
                            </td>
                            <td class="px-6 py-4">
                                {% if culte.status_admin == 0%}

                                <i class="fa-regular fa-circle-xmark items-center justify-center fa-xl text-red-500"></i>
                                {% else %}
                                 <i class="fa-solid fa-check items-center justify-center fa-xl text-blue-500 "></i>
                                {% endif %}

                            </td>
                            <td>

                      <a href="{% url 'gestMenb:vue_culte_admin' cle=culte.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><i class="fa-solid  fa-xl fa-eye text-green-500"></i></a>

                                {% if culte.date >= date_actuelle %}
                      <a href="{% url 'gestMenb:Modifier_culte_admin' cle=culte.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><i class="fa-solid  fa-xl fa-pen-to-square" style="color: #0fd4f5;"></i></a>

                                {% endif %}

                </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="pages" class="flex justify-center mt-8 mb-2">
                    <ul class="pagination flex ">
                        {% if objets_page.has_previous %}
                        <li>
                            <a href="?page={{ objets_page.previous_page_number }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}"
                                class="px-3 py-1 rounded select text-white">Précédent</a>
                        </li>
                        {% endif %}

                        {% for num in objets_page.paginator.page_range %}
                        {% if objets_page.number == num %}
                        <li>
                            <a href="?page={{ num }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}"
                                class="px-3 py-1 rounded select text-white">{{ num }}</a>
                        </li>
                        {% else %}
                        <li>
                            <a href="?page={{ num }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}"
                                class="px-3 py-1 rounded bg-gray-200 text-blue-500">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}

                        {% if objets_page.has_next %}
                        <li>
                            <a href="?page={{ objets_page.next_page_number }}&{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}"
                                class="px-3 py-1 rounded select text-white">Suivant</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>





    </div>
    <!-- /Main -->
    {% include 'includes/footer.html' %}
</div>
</div>









<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}