{% extends 'base.html'  %}
{% load custom_tags %}
{% block title %}
Detail
{% endblock %}
{% block content %}


<div class="bg-slate-200 flex h-screen">
 {% include 'includes/diacre/quartier.html' %}
    <div class="flex h-full w-full flex-col">
         {% include 'includes/diacre/nav.html' %}
        <!-- Main -->
    <div class="h-full overflow-auto ">

         <p class="text-xl font-extrabold  mt-8 text-gray-900 dark:text-white ml-4 mt-2 mb-4"><span
            class="text-gray-500 font-thin dark:text-gray-400">Administrateur</span> | Ajouter</p>
{% if messages %}
    {% for message in messages %}
      <div class="flex flex-col gap-3 mb-4">
          {% if message.tags == 'error' %}
         <div
        class="flex bg-white dark:bg-gray-900 items-center px-6 py-4 text-sm border-t-2 rounded-b shadow-sm border-red-500">
        <svg viewBox="0 0 24 24" class="w-8 h-8 text-red-500 stroke-current" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12 8V12V8ZM12 16H12.01H12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">Erreur</div>
            <div class="w-full text-gray-900 dark:text-gray-300 mt-1">{{ message }}</div>
        </div>
    </div>
      {% else %}
       <div
        class="flex bg-white dark:bg-gray-900 items-center px-6 py-4 text-sm border-t-2 rounded-b shadow-sm border-green-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-green-500 stroke-current" fill="none"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">Enregistrement effectué</div>
            <div class="w-full text-gray-900 dark:text-gray-300 mt-1">L'administrateur a été enregistré avec succès.</div>
        </div>
    </div>
      {% endif %}


</div>
    {% endfor %}
  {% endif %}

<form method="post" enctype="multipart/form-data" class="bg-gray-100 p-8 rounded-lg shadow-md">
    {% csrf_token %}
     <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        <div>
            <label  class="block text-sm font-medium text-gray-700">{{ form.id_menbre.label }}</label>
            {{ form.id_menbre|add_class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" }}
        </div>
        <div>
            <label  class="block text-sm font-medium text-gray-700">{{ form.profession.label }}</label>
            {{ form.profession|add_class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" }}
        </div>
        <div>
            <label  class="block text-sm font-medium text-gray-700">{{ form.debut_mandat.label }}</label>
            {{ form.debut_mandat|add_class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" }}
        </div>
        <div>
            <label  class="block text-sm font-medium text-gray-700">{{ form.fin_mandat.label }}</label>
            {{ form.fin_mandat|add_class:"mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" }}
        </div>
         <div>
            <label  class="block text-sm font-medium text-gray-700">{{ form.etat_mandat.label }}</label>

             <select name="{{ form.etat_mandat.name }}" id="{{ form.etat_mandat.id_for_label }}" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        {% for choice in form.etat_mandat.field.choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == 'Actif' %}selected{% endif %}>{{ choice.1 }}</option>
    {% endfor %}
    </select>
        </div>
    </div>
     <div class="col-span-1 sm:col-span-4 mt-4">
        <div class="flex items-center justify-start">
            <button type="submit" class="select inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Enregistrer
            </button>
        </div>
    </div>


</form>

    </div>
    <!-- /Main -->
        {% include 'includes/footer.html' %}
    </div>
</div>





{% endblock %}
