{% extends 'base.html'  %}
{% block title %}
Detail
{% endblock %}
{% block content %}


<div class="bg-slate-200 flex h-screen">
    {% include 'includes/diacre/asise_membre.html' %}
    <div class="flex h-full w-full flex-col">
         {% include 'includes/diacre/nav.html' %}
        <!-- Main -->
    <div class="h-full overflow-auto ">
         <p class="text-xl font-extrabold  mt-8 text-gray-900 dark:text-white ml-4 mt-2 mb-4"><span
            class="text-gray-500 font-thin dark:text-gray-400">Membres</span> | Détail</p>
{% if messages %}
    {% for message in messages %}
      <div class="flex flex-col gap-3 mb-4">
          {% if message.tags == 'error' %}
         <div
        class="flex bg-white dark:bg-gray-900 items-center px-6 py-4 text-sm border-t-2 rounded-b shadow-sm border-red-500">
        <svg viewBox="0 0 24 24" class="w-8 h-8 text-red-500 stroke-current" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M12 8V12V8ZM12 16H12.01H12ZM21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">Erreur de mise à jor </div>
            <div class="w-full text-gray-900 dark:text-gray-300 mt-1">Une erreur est survenue lors de la mise à jour du membre</div>
        </div>
    </div>
      {% else %}
       <div
        class="flex bg-white dark:bg-gray-900 items-center px-6 py-4 text-sm border-t-2 rounded-b shadow-sm border-green-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 text-green-500 stroke-current" fill="none"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        <div class="ml-3">
            <div class="font-bold text-left text-black dark:text-gray-50">Mise à jour  effectué</div>
            <div class="w-full text-gray-900 dark:text-gray-300 mt-1">Le membre a été mis à jour avec succès..</div>
        </div>
    </div>
      {% endif %}


</div>
    {% endfor %}
  {% endif %}

        <div class="bg-gray-100 m-4">
    <div class="container mx-auto py-8">
        <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
            <div class="col-span-4 sm:col-span-3">
                <div class="bg-white shadow rounded-lg p-6">
                    <div class="flex flex-col items-center">

                         {% if menbre.photo %}
                         <img src="{{ menbre.photo.url }}" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0" onclick="showModal('{{ menbre.photo.url }}')">
                         {% else %}
                         <i class="fas fa-user-circle w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0"></i>
                         {% endif %}

                        <h1 class="text-md font-bold items-center text-center">{{ menbre.nom }} {{ menbre.postnom }} {{ menbre.prenom }}</h1>
                        <p class="text-cyan-500 font-bold ">{{ menbre.fonction.nom }}</p>

                    </div>

                </div>
            </div>
            <div class="col-span-4 sm:col-span-9">
                <div class="bg-red shadow rounded-lg">
                    <div class="bg-gray-100 dark:bg-gray-900">
                        <div class="bg-white overflow-hidden shadow rounded-lg border">
    <div class="px-2 py-2 sm:px-6">
        <div class="flex flex-row justify-between">
            <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Détails personnels
        </h3>
            </div>
            <div class="bg-white p-2 outline outline-offset-2 outline-cyan-500 ">
                <a href="{% url 'gestMenb:Modifier_menbre' cle=menbre.id %}"><i class="fa-solid fa-user-pen fa-lg icon icon-lg icon-shape" style="color: #0fd4f5;"></i></a>
            <button data-item-id="{{menbre.id}}" class="delete-button"><i class="fa-solid fa-trash fa-lg icon icon-lg icon-shape text-red-500 hover:text-cyan-500"></i></button>

            </div>

        </div>

        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Informations du profil.
        </p>
    </div>
    <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                   Date de naissance
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ menbre.date }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Genre
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                   {{ menbre.genre }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Adresse
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                     {{ menbre.Adresse }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Email
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ menbre.email }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Téléphone
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ menbre.telephone }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Statut
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ menbre.statut }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    État civil
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ menbre.etat_civil }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Groupe sanguin
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                    {{ menbre.groupe_sanguin }}
                </dd>
            </div>
            <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500">
                    Quartier
                </dt>
                <dd class="mt-1 text-sm text-blue-600 sm:mt-0 sm:col-span-2">
                    <a href="{% url 'gestMenb:Quartier_view' %}" >{{ menbre.quartier.nom }}</a>
                </dd>
            </div>
        </dl>
    </div>
</div>

</div>

                </div>
            </div>
        </div>
    </div>
</div>
        <div id="modal" tabindex="-1" aria-hidden="true" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full flex items-center justify-center">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <div class="bg-white rounded-lg shadow-lg p-8">
            <img id="modal-image" src="" class="max-w-full" alt="Modal Image">
            <button class="mt-4 select hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="hideModal()">Fermer</button>
        </div>
    </div>
</div>

    </div>
    <!-- /Main -->
        {% include 'includes/footer.html' %}
    </div>
</div>









<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function showModal(imageUrl) {
    document.getElementById('modal-image').src = imageUrl;
    document.getElementById('modal').classList.remove('hidden');
}

function hideModal() {
    document.getElementById('modal').classList.add('hidden');
}

</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        // Ajoutez un gestionnaire d'événements pour tous les boutons de suppression
        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', function () {
                var cle = this.getAttribute('data-item-id');

                Swal.fire({
                 title: "Êtes-vous sûr ?",
                text: "Vous ne pourrez pas revenir en arrière après cette suppression !",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#00acc1",
                cancelButtonColor: "#d33",
                confirmButtonText: "Oui, supprimer !",
                cancelButtonText: "Annuler"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Diacre/Culte_Membre/' + cle + '/',
                            type: 'POST',
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}'  // Inclure le jeton CSRF
                            },
                            success: function(response) {
                                Swal.fire({
                                title: "Supprimé !",
                                text: "Un membre  a été supprimé avec succès.",
                                icon: "success"
                                }).then(() => {
                                    // Optionnel: recharger la page ou retirer l'élément supprimé du DOM
                                   window.location.href = '{% url "gestMenb:Menbres_diacre_view" %}'
                                });
                            },
                            error: function(response) {
                                Swal.fire({
                                 title: "Erreur !",
                                text: "Il y a eu une erreur lors de la suppression.",
                                icon: "error"
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>

{% endblock %}
